openapi: 3.0.3
info:
  title: CricAPI Cricket Data Fantasy Series API
  description: 'CricAPI (operating as CricketData.org) provides live cricket scores, ball-by-ball updates, match details, player statistics, team rankings, series schedules, and fantasy cricket scorecard data. Coverage spans international and domestic tournaments including ICC events, IPL, T20I, BBL, and PSL. Historical match data is available back to 2000.

    '
  version: '1.0'
  termsOfService: https://cricketdata.org/
  contact:
    email: contact@cricketdata.org
    url: https://cricketdata.org/contact/
  license:
    name: Proprietary
    url: https://cricketdata.org/pricing/
servers:
- url: https://api.cricapi.com/v1
  description: CricAPI v1 production server
security:
- apiKeyQuery: []
tags:
- name: Series
  description: Cricket series list and search
paths:
  /series:
    get:
      operationId: listSeries
      summary: Cricket Series List
      description: 'Returns a descending-order (latest first) list of all cricket series covered. Series may have partial coverage for some matches. Supports pagination and optional search by name.

        '
      tags:
      - Series
      parameters:
      - $ref: '#/components/parameters/apikey'
      - $ref: '#/components/parameters/offset'
      - name: search
        in: query
        description: Search string to filter series by name or short name
        required: false
        schema:
          type: string
          example: IPL
      responses:
        '200':
          description: Successful response with series list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    SeriesListResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        data:
          type: array
          items:
            $ref: '#/components/schemas/Series'
        info:
          $ref: '#/components/schemas/ApiInfo'
    Series:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this series
        name:
          type: string
          description: Name and year of the series
          example: Indian Premier League 2022
        startDate:
          type: string
          description: Start date of the series
          example: Mar 26
        endDate:
          type: string
          description: End date of the series
          example: May 29
        odi:
          type: integer
          description: Number of ODI matches in this series
        t20:
          type: integer
          description: Number of T20 matches in this series
        test:
          type: integer
          description: Number of Test matches in this series
        squads:
          type: integer
          description: Number of squads for which data is loaded
        matches:
          type: integer
          description: Number of matches for which data is loaded
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - failure
        reason:
          type: string
          description: Human-readable error message
          example: Invalid API Key
    ApiInfo:
      type: object
      description: Metadata about the API response including rate limit and pagination info
      properties:
        hitsToday:
          type: integer
          description: Number of API hits made today for the current API key
        hitsLimit:
          type: integer
          description: Daily hit limit for the current API key
        credits:
          type: number
          description: Credits remaining in account (optional)
        server:
          type: integer
          description: ID of the server that served this response
        offsetRows:
          type: integer
          description: Row offset applied to this response
        totalRows:
          type: integer
          description: Total number of rows available for this query
        queryTime:
          type: number
          description: Query execution time in milliseconds
  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status: failure
            reason: Invalid API Key
  parameters:
    apikey:
      name: apikey
      in: query
      description: Your subscription API key (GUID format)
      required: true
      schema:
        type: string
        format: uuid
        example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
    offset:
      name: offset
      in: query
      description: 'Row offset for pagination. Default page size is 25 items. Use totalRows from the info object to determine if more pages exist.

        '
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
        example: 0
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: 'API key for authentication. Obtained from your CricketData.org account. Format: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx (GUID)

        '
externalDocs:
  description: CricAPI Developer Documentation
  url: https://cricketdata.org/how-to-use-cricket-data-api.aspx
